body{
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
  background: #75262a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#470b15, #75262a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#470b15, #75262a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#470b15, #75262a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#470b15, #75262a); /* Standard syntax (must be last) */
}
a {
  text-decoration: none;
  color: #d4f8ff;
}
a:hover{
  color: rgb(250, 245, 105);
}
header{
  margin: 40px 0 40px 0;
}
h1, h2, h3{
  font-family: 'Josefin Slab', serif;
}
header h1{
  font-size: 4em;
  margin: 0;
}
header h2{
  font-size: 1.4em;
  margin-top: -0.4em;
  margin-left: 114px;
}
section{
  margin: 25px;
}
#search{
  display: flex;
  align-items: center;
  justify-content: center;
}
#search > div{
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
}
#searchMain{
  display: block;
}
#searchMain > div{
  margin: 5px;
}
#searchMain label{
  font-size: 2em;
  margin: 5px;
  color: #baffda;
  font-family: 'Muli', sans-serif;
}
#searchMain input{
  font-size: 2em;
  width: 600px;
  height: 75px;
  border-radius: 4px;
  background-color: #effffb;
  font-family: 'Muli', sans-serif;
  text-align: center;
}
#searchMain input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cecece;
}
#searchMain input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cecece;
   opacity:  1;
}
#searchMain input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cecece;
   opacity:  1;
}
#searchMain input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cecece;
}
#searchMain input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #cecece;
}
#searchButtons button{
  font-size: 2em;
  width: 296px;
  height: 50px;
  margin: 5px 2.5px 5px 2.5px;
  border-radius: 10px;
  background-color: #baffda;
  font-family: 'Muli', sans-serif;
}
button#randomButton{
  background-color: #ffebba;
}
#results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
#results article{
  min-width: 280px;
  margin: 10px;
  padding: 25px;
  border: solid 2px #540c0c;
  border-radius: 10px;
  background-color: floralwhite;
  color: black;
}
#results article h3{
  font-weight: bold;
  font-size: 2em;
}
#results article img{
  border-radius: 5px;
  float: right;
  margin: 10px;
}
#results article p{
  text-align: left;
  font-size: 1.3em;
}
.learnMore{
  text-align: left;
  font-size: 0.9em;
}
.learnMore a{
  color: #66a0ff;
  font-style: italic;
}
.learnMore a:hover{
  color: #e8ad5a;
}
footer{
  margin: 20px;
  font-family: 'Oxygen', sans-serif;
}

/* Mobile responsiveness */
@media only screen and (min-width: 768px) {
  section#results article{
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  body{
    margin: 0;
  }
  #search{
    margin-left: 0;
    margin-right: 0;
  }
  #search > div{
    width: 100%;
    border-radius: 0;
  }
  #searchMain label{
    font-size: 1.5em;
  }
  #searchMain input{
    font-size: 1.5em;
    width: 480px;
    height: 60px;
  }
  #searchButtons button{
    font-size: 1.5em;
    width: 235px;
    height: 40px;
  }
}
@media only screen and (max-width: 530px) {
  header h2{
    margin-top: 5px;
    margin-left: 0;
  }
  #searchMain input{
    width: 300px;
  }
  #searchButtons button{
    width: 300px;
  }
}
@media only screen and (max-width: 420px){
  header h1{
    font-size: 3em;
    margin: 0;
    margin-bottom: -.3em;
  }
  header h2{
    font-size: 1.4em;
    padding: 0;
    margin-top: 14px;
  }
}

/* Animations */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}
