body{
  text-align: center;
  color: white;
  background-color: #470b15;
  font-family: 'Oxygen', sans-serif;
}
a {
  text-decoration: none;
  color: #d4f8ff;
}
a:hover{
  color: rgb(250, 245, 105);
}
header{
  margin-top: 20px;
}
h1, h2, h3{
  font-family: 'Josefin Slab', serif;
}
header h1{
  font-size: 4em;
  margin: 0;
}
header h2{
  font-size: 1.4em;
  margin-top: -0.4em;
  margin-left: 114px;
}
section{
  margin: 25px;
}
#results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
#results article{
  min-width: 280px;
  margin: 10px;
  padding: 25px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: floralwhite;
  color: black;
}
#results article h3{
  font-weight: bold;
  font-size: 1.6em;
}
#results article img{
  border-radius: 5px;
  float: right;
  margin: 10px;
}
#results article p{
  text-align: left;
}
.learnMore{
  text-align: left;
  font-size: 0.9em;
}
.learnMore a{
  color: #66a0ff;
  font-style: italic;
}
.learnMore a:hover{
  color: #e8ad5a;
}
footer{
  margin: 20px;
}

/* Mobile responsiveness */
@media only screen and (min-width: 768px) {
  section#results article{
    max-width: 300px;
  }
}
@media only screen and (max-width: 530px) {
  header h2{
    margin-top: 5px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 420px){
  header h1{
    font-size: 3em;
    margin: 0;
    margin-bottom: -.3em;
  }
  header h2{
    font-size: 1.4em;
    padding: 0;
    margin-top: 14px;
  }
}

/* Animations */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}
